@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    height: 150px;
    display: flex;
    flex-flow: column wrap;
    padding-top: 50px;
   
}
header>img{
    height: 20px;
    width: 250px;
    
}
nav{
    padding-top: 30px;
}
nav>a{
    margin-left: 5px;
    color: rgba(184, 135, 11, 0.707);
    text-decoration: none;
  
}
main{

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main>div#museu{
    background-image: url(imagens/museu.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 400px;
    margin-bottom: 15px ;
}
 main>img{
    margin-bottom: 15px;
 }
main>iframe{
    width: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
}
main>iframe#localização{
    height: 300px;
}
div>form{
   background-color:burlywood ;
   height: 70px;    
}
div>form>h4{
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: chocolate;
    margin-bottom: 25px;
}
div.anos{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 350px;
   
}
h3{
    color: darkgreen;
}
div.galeria {margin-bottom: 25px; }
footer{
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
}

@media (min-width:950px){
      header{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
      }
      nav{padding-top: 0px;}

      main{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        
      }

      main>div#museu{
        background-image: url(imagens/museu.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 40%;
        margin-bottom: 15px ;
    }
    main>img{
        padding-left: 50px;
        margin-right: 20px;
        
    }
    main>iframe{
       width: 40%;
        margin-top: 25px;
        margin-bottom: 25px;
      
    }
    div.exposições{
       
        width: 40%;
        margin-left: 50px;
    }
    div.anos{
        width: 40%;
    }
}
  